.profile__edit-button{
    width: 24px;
    height: 24px;
    border: 1px #fff solid;
    background-color: #000;
    background-image: url(../../../images/profile/edit.svg);
    background-repeat: no-repeat;
    background-position: center;

}
