.profile__add-button{
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 1px #fff solid;
  background-color: #000;
  background-image: url(../../../images/profile/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
}

@media screen and (max-width: 990px) {
  .profile__add-button {
    width:calc(100% - 2*19px);
    margin:36px auto 0;
  }
}

