.popup__exit{
  background-image: url(../../../images/popup/Close\ Icon.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin:-40px -40px 0;
}

@media screen and (max-width: 550px) {
  .popup__exit {
    margin:-40px 0 0;
  }
}
