.profile__info{
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 120px - 150px - 30px - 86px);
  flex: 1;
}

@media screen and (max-width: 990px) {
  .profile__info {
    max-width: 80%;
    margin: 25px auto;
  }
}



