.button_save-popup{
  margin: 47px 0 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 124px 14px 125px;
  border: 0;
  border-radius: 2px;
}

.button_save-popup:hover{
  opacity: 80%;
}

@media screen and (max-width: 550px) {
  .button_save-popup {
    margin:45px 0 0;
    font-size: 14px;
    line-height: 17px;
    padding:14px 82px;
  }
}
